{% extends "accounts/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs"> <a href="/">{% trans 'Home' %}</a> &rsaquo; {% trans 'Register Candidate' %} </div>
{% endblock %}

{% block title %}Candidate Registration{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>You are already registered with us. Please Wait for a response from your Interviewers.</p>
{% else %}
<h1>Register Candidate</h1>


{{ form.non_field_errors }}
<form action="/accounts/register/candidate/" method="post">
    {% csrf_token %}
    {{ form.username.errors }}
    <label for="id_username">Username:</label>
    <input id="id_username" maxlength="30" name="username" type="text"><br><span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>

    {{ form.password1.errors }}
    <label for="id_password1">Password:</label>
    <input id="id_password1" name="password1" type="password">
    {{ form.password2.errors }}
    <label for="id_password2">Password confirmation:</label>
    <input id="id_password2" name="password2" type="password"><br><span class="helptext">Enter the same password as before, for verification.</span>
    <input type="submit" value="Submit">
</form>
{% endif %}

{% endblock %}
